---
import IconFacebook from "~/assets/icons/facebook.svg";
import { socialMedia } from "~/data/config";
---

<a
	href={socialMedia.facebook.url}
	target="_blank"
	class="not-prose flex items-center gap-x-1 hover:-translate-y-1 hover:-rotate- transition duration-300"
>
	<IconFacebook class="p-2.5 size-16 text-white" />
</a>
