---
import IconTikTok from "~/assets/icons/tik-tok.svg";
import { socialMedia } from "~/data/config";
---

<a
	href={socialMedia.tikTok.url}
	target="_blank"
	class="not-prose flex items-center gap-x-1 hover:-translate-y-1 hover:-rotate- transition duration-300"
>
	<IconTikTok class="p-2.5 size-16 text-white" />
</a>
